{% extends "::base.html.twig" %}

{% block title %}StoreBundle:Project:new{% endblock %}

{% block body %}
<h1>Welcome to the Project:new page</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
